<h1>Sign Up!</h1>
<%= form_for @user do |f| %>
<%= f.text_field :first_name, placeholder: "first name" %>
<%= f.text_field :last_name, placeholder: "last name" %>
<%= f.email_field :email, placeholder: "email" %>
<%= f.password_field :password, placeholder: "pasword" %>
<%= f.submit %>
<% end %>
    
