<h1><%= @user.first_name %>'s Articles</h1>
<% @user.articles.each do |article| %>
<div>
  <h3><%= article.title %></h3>
  <p><%= article.content %></p>
  <!-- <%= link_to "Edit" "/articles/edit" %> -->
  <!-- <%= link_to "Delete" "/articles/delete" %> -->
</div>
<% end %>
<%= link_to "New Article", "/articles/new" %>
