<h1><%= @user.first_name %>'s Articles</h1>
<% @articles.each do |article| %>
<div>
  <h3><%= article.title %></h3>
  <p><%= article.content %></p>
  <!-- <%= link_to "Edit" "/articles/edit" %> -->
  <%= link_to "Delete", "/articles/#{article.id}", method:"delete" %>
  <%= link_to "Edit", "/articles/#{article.id}" %>
</div>
<% end %>
<%= link_to "New Article", "/articles/new" %>
<%= link_to "Log Out", "/users/#{@user.id}", method:"delete" %>

